* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
}

/* -------------------------- color style --------------------------------- */
.text-orange {
  color: hsl(25, 97%, 53%);
}

.bg-orange {
  background-color: hsl(25, 97%, 53%);
}

.bg-medium-grey {
  background-color: hsl(216, 12%, 54%);
}

.bg-dark-blue {
  background-color: hsl(213, 19%, 18%);
}

.bg-very-dark-blue {
  background-color: hsl(216, 12%, 8%);
}

.text-light-grey {
  color: hsl(217, 12%, 63%);
}

.card {
  width: 25rem;
  border-radius: 15px;
}

.card-img-top {
  width: 10px;
}

.success-img {
  width: 150px;
}

.img-div {
  width: 35px;
  height: 35px;
  background-color: #353e47;
}

.text-15 {
  font-size: 15px;
}

.rating span span span {
  border: none !important;
  margin: 15px;
  width: 40px !important;
  height: 40px !important;
}

.rating span span:nth-child(1) span {
  background-color: #353e47 !important;
}

.rating span span:nth-child(2) span {
  background-color: hsl(25, 97%, 53%) !important;
}

.rating span span span::before {
  position: absolute;
  left: 43%;
  top: 30%;
}

.rating span:nth-child(1) span span::before {
  content: "1";
}

.rating span:nth-child(2) span span::before {
  content: "2";
}

.rating span:nth-child(3) span span::before {
  content: "3";
}

.rating span:nth-child(4) span span::before {
  content: "4";
}

.rating span:nth-child(5) span span::before {
  content: "5";
}

.btn-orange:hover {
  background-color: #ffffff;
  color: hsl(25, 97%, 53%) !important;
}
.selected-rating {
  font-size: 14px;
  background-color: #353e47;
}